.card-title-style {
    font-weight: bold !important;
    color: #2cb98b !important;
}

.small-green-button {
    border: 2px solid #2cb98b;
    
    background-color: white;
    border-color: #2cb98b;
    height: 35px;
    width: 100px;
    font-size: 15px;
    border-radius: 20px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.btn-primary:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.green-button {
    border: 2px solid #2cb98b;
    width: 200px;
    background-color: white;
    border-color: #2cb98b;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}
.example-margin {
    margin: 0 10px;
  }

  .progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0,0);
  }

  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    transition: width .6s ease;
  }

 #uploadProgressTable {
    table-layout: fixed;
}
.table {
    width: 100%;
}
.table {
    max-width: 100%;
    margin-bottom: 20px;
}
.table {
    background-color: transparent;
}

.table-bordered {
    border: 1px solid #ddd;
}

.mat-toolbar-tools {
    background-color: black;
    color: #fff;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

h2{
    margin-top: 1%;
    color: #2cb98b !important;
}

.disabled {
    cursor: not-allowed;
}
